<div class="blog-container">
    {{#each data }}
    <div class="blog-card">
        <div class="meta">
            <div class="photo" style="background-image: url({{this.imageUrl}})"></div>

        </div>
        <div class="description">
            <h1 id="blog-title">{{this.title}}</h1>
            {{!-- <h2 id="blog-subtitle">{{this.subtitle}}</h2> --}}
            <p id="blog-content"> {{this.content}}</p>
            <p class="read-more">
                <a href="/blogs/{{this._id}}">Read More</a>
            </p>
        </div>
    </div>
    {{/each}}
    <div class="blog-footer">
        <div class="footer">
            <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

            <nav class="menu">
                <input type="checkbox" href="#" class="menu-open" name="menu-open" id="menu-open" />
                <label class="menu-open-button" for="menu-open">
                    <span class="hamburger hamburger-1"></span>
                    <span class="hamburger hamburger-2"></span>
                    <span class="hamburger hamburger-3"></span>
                </label>

                <a href="/game/1" class="menu-item"> <i class="fa fa-gamepad"></i> </a>
                <a href="/game/2" class="menu-item"> <i class="fa fa-gamepad"></i> </a>
                <a href="/contact" class="menu-item"> <i class="fa fa-envelope"></i> </a>
                <a href="/radio/2" class="menu-item"> <i class="fa fa-headphones"></i> </a>
                <a href="/radio/1" class="menu-item"> <i class="fa fa-headphones"></i> </a>

            </nav>


            <!-- filters -->
            <svg xmlns="http://www.w3.org/2000/svg" version="1.1">
                <defs>
                    <filter id="shadowed-goo">

                        <feGaussianBlur in="SourceGraphic" result="blur" stdDeviation="10" />
                        <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 18 -7"
                            result="goo" />
                        <feGaussianBlur in="goo" stdDeviation="3" result="shadow" />
                        <feColorMatrix in="shadow" mode="matrix" values="0 0 0 0 0  0 0 0 0 0  0 0 0 0 0  0 0 0 1 -0.2"
                            result="shadow" />
                        <feOffset in="shadow" dx="1" dy="1" result="shadow" />
                        <feBlend in2="shadow" in="goo" result="goo" />
                        <feBlend in2="goo" in="SourceGraphic" result="mix" />
                    </filter>
                    <filter id="goo">
                        <feGaussianBlur in="SourceGraphic" result="blur" stdDeviation="10" />
                        <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 18 -7"
                            result="goo" />
                        <feBlend in2="goo" in="SourceGraphic" result="mix" />
                    </filter>
                </defs>
            </svg>
        </div>
    </div>
</div>
{{!-- nguoc lai --}}
{{!-- <div class="blog-card alt">
    <div class="meta">
        <div class="photo"
            style="background-image: url(https://storage.googleapis.com/chydlx/codepen/blog-cards/image-2.jpg)"></div>
        <ul class="details">
            <li class="author"><a href="#">Jane Doe</a></li>
            <li class="date">July. 15, 2015</li>
            <li class="tags">
                <ul>
                    <li><a href="#">Learn</a></li>
                    <li><a href="#">Code</a></li>
                    <li><a href="#">JavaScript</a></li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="description">
        <h1>Mastering the Language</h1>
        <h2>Java is not the same as JavaScript</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad eum dolorum architecto obcaecati enim dicta
            praesentium, quam nobis! Neque ad aliquam facilis numquam. Veritatis, sit.</p>
        <p class="read-more">
            <a href="#">Read More</a>
        </p>
    </div>
</div> --}}