<div class="detail-container">

    {{!-- <div class="detail-menu">
        <form action="/blogs/delete/{{this._id}}" method="POST"><button type="submit">Delete</button></form>
        <form action="/blogs/edit/{{this._id}}" method="GET"><button type="submit">Edit</button></form>
    </div> --}}
    <div class="detail-layout">

        <div class="background"></div>
        <div class="paper">
            <div class="detail-content">
                <img src="{{this.imageUrl}}" alt="" class="detail-thumbnail">
                <h1 class="detail-title"><strong>{{this.title}}</strong></h1>
                <div id="detail-subtitle">
                    <h4 class="">{{this.subtitle}}</h4>
                </div>
                <span class="detail-writting">{{this.content}}</span>
            </div>
        </div>

    </div>
</div>